::-webkit-scrollbar {
    display: none;
}

.navbar .dropdown-menu {
    background-color: #343a40;
}

.navbar .dropdown-item {
    background-color: #343a40;
}

.navbar .dropdown-item {
    color: #eee;
}

.navbar .dropdown-item:hover {
    background-color: #555;
}

.rotate {
    transform: rotate(-15deg);
}

.col-sm-4 {
    padding: 0;
}

.col-sm-6 {
    padding: 0;
}

.col-sm-12 {
    padding: 0;
}

.embed-responsive-1by1 {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.below {
    position: sticky;
    margin-top: 100vh;
}

.copyright {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    width: 50%;
}

.copyright a:link,
.copyright a:visited,
.copyright a:active {
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}

.copyright a:hover {
    color: #ff6a00;
    text-decoration: none;
}

.social {
    font-size: 24px;
    color: #fff;
    width: 50%;
    text-align: right;
}

.social a {
    color: #FFF;
}

.social a:hover {
    color: #ff6a00;
}

.social i {
    padding-left: 10px;
}

.fa-envelope-open:hover {
    color: #ffd65a;
}

.fa-facebook:hover {
    color: #4060A5;
}

.fa-twitter:hover {
    color: #00ABE3;
}

.fa-linkedin-in:hover {
    color: #0094BC;
}

.fa-instagram:hover {
    color: #f2003c;
}

.fa-snapchat-ghost:hover {
    color: #fffc00;
}

.fa-reddit-alien:hover {
    color: #ff4301;
}

.fa-youtube:hover {
    color: #FF1F25;
}